<ul class="nav nav-tabs">
  <li role="presentation" class="<%= c_dashboard_active?%>">
		<%= link_to "Dashboard", customers_path %>
	</li>
  <li role="presentation" class="<%= new_booking_active?%>">
		<%= link_to "New booking", new_booking_path %>
	</li>
  <li role="presentation" class="<%= new_booking_active?%>">
		<%= link_to "My bookings", bookings_path %>
	</li>
	<li role="presentation" class="<%= new_booking_active?%>">
		<%= link_to "Search", profiles_search_path %>
	</li>
	<li role="presentation" class="<%= new_booking_active?%>">
		<%= link_to "Customer Edit", controller: "customers", id: @customer, action: "edit" %>
	</li>
</ul>




