<% if current_user.customer? %>
	<li>
	  <%= link_to "Subscriptions", subscriptions_path %>
	</li>
	<li>
		<%= link_to "Edit Customer", edit_customer_path(current_user.customer) %>
	</li>
	<li role="presentation" class="<%= new_booking_active?%>">
		<%= link_to "Change Email/Password", user_edit_login_details_path(current_user.id) %>
	</li>
	<li>
	  <%= link_to "New Booking", new_booking_path %>
	</li>
	<li role="presentation" >
	  <%= link_to "Enquiries", enquiries_path%>
	</li>

	<li role="presentation" >
	  <%= link_to "Settings", edit_setting_path(current_user.setting)%>
	</li>
<% end %>


