<div class="container-fluid">
	<div class="row bg-info">
<%= form_tag "/profiles/search", method: "get", id: "search_form" do %>
	<%= hidden_field_tag :subject_id, @search_params[:subject_id] %>
	<div class="col-sm-3">
		
		<%= text_field_tag nil, @search_params[:subject_name], id: "subject_select", :placeholder => "Subject" %>

	</div>
	<!-- subject, date, name,-->
	<div class = "col-sm-3">
	  <%= text_field_tag :date_part, @search_params[:date_part], :placeholder => "date" %>
  </div>	

  
	<div class="col-sm-3">
		<%= text_field_tag :first_name, @search_params[:first_name], :placeholder => "First Name" %>
 	</div>
 	<div class = "col-sm-3">
 		<%= submit_tag "Search", :class => "btn btn-success"%>
 	</div>

<% end %>
</div>
</div>