<% if current_user.presenter? %>
 <% unless @booking.presenters.include?(current_user.presenter) || @booking.chosen_presenter.present?%>
	<div class = "container">
		<%= form_tag(:controller => "bookings", :action => "set_bid", method: "post") do %>
			<%= text_field_tag :rate %>
			<%= hidden_field_tag "id", params[:id]  %>
			<%= submit_tag "Express interest", class: "btn btn-success" %>
		<% end %>
	</div>
	<% end %>

	<%= link_to "Back to open bookings",  :back, class: "btn btn-default" %>
<% end %>
