<%= form_for @booking, url:  bookings_path do |b| %>

  <div class = "form-group">
    <%= b.label "date" %><br>
    <input type= "input" name = "date_part" id="date_part" value = "" class="form-control" /><br>
    <%= b.label "time" %><br>

    <input type = "time" name = "time_part" id="time_part" value = "" step = "300" class="form-control" />
  </div>
  <div class = "form-group">
    <%= b.label :duration_minutes %><br>
    <%= b.number_field :duration_minutes, step: 5, class: "form-control"  %>
  </div>
 
  <div class = "form-group">
    <%= b.label :shared %>

    <%= check_box_tag :shared, false, false  %>    
  </div>


  <div class = "form-group">
    <%= b.label :subject_id %><br>
    <input type = "input" id="subject_select" :placeholder "Subject" class = "form-control" />
  </div>

  <%= hidden_field_tag :subject_id%>
  <div class="col-sm-3">
    


  <div class = "form-group">
    <%= b.submit "Create Booking", class: "btn btn-default"%>
  </div>

<% end %>