<%= form_for @booking, url:  bookings_path do |b| %>

  <div class = "form-group">
    <%= b.label "date" %><br>
    <input type= "input" name = "date_part" id="date_part" class="form-control" value = <%= is_empty?(@date_part) %> /><br>
    <%= b.label "time" %><br>

    <input type = "time" name = "time_part" id="time_part" value = <%= is_empty?(@time_part) %> step = "300" class="form-control" />
  </div>
  <div class = "form-group">
    <%= b.label :duration_minutes %><br>
    <%= b.number_field :duration_minutes, step: 15, min: 60, value: 60, class: "form-control" %>
  </div>

  <div class = "form-group">
    <%= b.fields_for :booked_customers do |booked_customer| %>
      <%= booked_customer.label "Number of students (Maximum: 30)" %>
      <%= booked_customer.text_field :number_students, class: "form-control" %>
    <% end %>
  </div>

  <div class = "form-group">
    <%= b.label :shared %>
    <%= check_box_tag :shared  %>    
  </div>

  <div class = "form-group">
    <%= b.label "Days" %>
    <%= b.number_field :period, :placeholder => "Duration to keep booking open", class: "form-control" %>  
  </div>
  <div class = "form-group">
    <%= b.label :subject_id %><br>
    <input type = "input" id="subject_select"  class = "form-control" value = "<%= is_empty?(@subject_select) %>"/>
  </div>

  <%= hidden_field_tag :subject_id, is_empty?(@subject_id) %>
  <%= hidden_field_tag :presenter_id, is_empty?(@presenter_id) %>
  <div class="col-sm-3">
    


  <div class = "form-group">
    <%= b.submit "Create Booking", class: "btn btn-default"%>
  </div>

<% end %>