<%= form_for @booking, url:  bookings_path do |b| %>
  <div class = "form-group">
    <%= b.label "date" %><br>
    <input type= "input" name = "date_part" id="date_part" value = "" class="form-control" /><br>
    <%= b.label "time" %><br>

    <input type = "time" name = "time_part" id="time_part" value = "" step = "300" class="form-control" />
  </div>
  <div class = "form-group">
    <%= b.label :duration_minutes %><br>
    <%= b.number_field :duration_minutes, step: 5, class: "form-control"  %>
  </div>

  <div class = "form-group">
    <%= b.label :cancellation_message %><br>
    <%= b.text_area :cancellation_message, class: "form-control" %>
  </div>
 
  <div class = "form-group">
    <%= b.label :shared %>
    <%= check_box_tag(:shared, "true", "true") %>    
  </div>

  <div class = "form-group">
    <%= b.label :subject_id %><br>
    <%= b.text_field :subject_id, class: "form-control" %>
  </div>

  <div class = "form-group">
    <%= b.label :presenter_paid %>
    <%= check_box_tag(:presenter_paid, "true", "true") %>
  </div>


  <div class = "form-group">
    <%= b.submit "Create Booking", class: "btn btn-default"%>
  </div>
<% end %>
<!-- 
    t.integer  "customer_id"
    t.integer  "presenter_id"
    t.datetime "booking_date"
    t.integer  "duration_minutes"
    t.string   "cancellation_message"
    t.boolean  "shared",               default: false
    t.integer  "approval"
    t.integer  "subject_id"
    t.boolean  "presenter_paid",       default: false
    t.datetime "created_at",                           null: false
    t.datetime "updated_at", -->