<div>
	<% if @booking.present? %>
		<h3>Booking for <%= @booking.subject.name %> 	<%= booked_label(@booking) %> </h3>

		<p> Date: <%= @booking.booking_date.strftime("%d/%m/%Y") %> </p>
		<p> Time: <%= @booking.booking_date.strftime("%H:%M %p") %> - <%= duration(@booking) %> </p>

	  <p>Subject: <%= @booking.subject.name %></p>
  <% end %>

  <% if current_user.customer == @booking.creator && @booking.presenters.present? && @booking.chosen_presenter.nil? %>
  	<ul><%= render 'bookings/partials/bids', object: @booking %></ul>
  <% end %>

  <%= render 'partials/presenter_actions', object: @booking %>
<div>
