<div>
	<% if @booking.present? %>
		<h3>Booking for <%= "<insert subject>"%> </h3>
	  <p>Duration: <%= @booking.duration_minutes %></p>
	  <p>Subject: <%= "insert subject" %></p>
  <% end %>

  <% if current_user.customer == @booking.creator && @booking.presenters.present? && @booking.chosen_presenter.nil? %>
  	<ul><%= render 'bookings/partials/bids', object: @booking %></ul>
  <% end %>

  <%= render 'partials/presenter_actions', object: @booking %>
<div>
