<div class="container">
	<h1> Admin Dashboard</h1>
  <%= render 'search/form' %>

 

  <h3>
    Actions Needed (<%= @total %>)
    <button data-toggle="collapse" data-target="#admin_actions_needed" class="btn btn-primary">Show/Hide</button>
  </h3>
  
  <div class="row collapse" id="admin_actions_needed">
    
    <div class = "col-md-4">
      <%= render 'users/partials/pending_users' %>
    </div>
    
    <div class = "col-md-4">
     <%= render 'users/partials/pending_profiles' %>
    </div>

    <div class = "col-md-4">
     <%= render 'users/partials/help_required_bookings' %>
    </div>

  </div>

   <!-- upcoming bookings -->
  <h3>
    Upcoming Bookings
    <%= link_to "See all", bookings_path, class: "btn btn-primary" %>
  </h3>
  <div class = "">
    <%= render 'users/partials/upcoming_bookings' %>
  </div>
  
</div>