<div class="container">
	<h1> Admin Dashboard</h1>
  <%= render 'search/form' %>

 

  <h3>Actions Needed (<%= @total %>)</h3>
  <button data-toggle="collapse" data-target="#admin_actions_needed" class="btn btn-primary">Show/Hide</button>
  <div class="row collapse" id="admin_actions_needed">
    
    <div class = "col-md-4">
      <%= render 'users/partials/pending_users' %>
    </div>
    
    <div class = "col-md-4">
     <%= render 'users/partials/pending_profiles' %>
    </div>

    <div class = "col-md-4">
     <%= render 'users/partials/help_required_bookings' %>
    </div>

  </div>

   <!-- upcoming bookings -->
  <h3>Upcoming Bookings</h3>
  <button data-toggle="collapse" data-target="#upcoming_bookings" class="btn btn-primary">Show/Hide</button>
  <div class = "row collapse in" id="upcoming_bookings">
    <div class = "">
      <%= render 'users/partials/upcoming_bookings' %>
    </div>
  </div>
  



</div>