<div>
	<% if @customer.present? %>
		<h3><%= fullname(@customer)%>'s Profile </h3>
	  <p>First Name: <%= @customer.first_name %></p>
	  <p>Last Name: <%= @customer.last_name %></p>
	  <p>Vit Number: <%= @customer.vit_number%></p>
	  <p>ABN number: <%= @customer.abn_number%></p>
	  <p>Phone Number: <%= @customer.phone_number%></p>
	  <p>Vit Number: <%= @customer.vit_number%></p>
	  <p>Contact Title: <%= @customer.contact_title%></p>
	  <p>Department: <%= @customer.department%></p>
  	<% end %>
	<%= render 'partials/admin_actions', object: @user %>
<div>
