<div class="row">
  <% if @customer.present? %>
    <div class="col-md-6">
      <h3><%= @customer.school_info.school_name %></h3>
      <p><b>First Name:</b> <%= @customer.first_name %></p>
      <p><b>Last Name:</b> <%= @customer.last_name %></p>
      <p><b>Email:</b> <%= mail_to @customer.user.email %> </p>
      <p><b>Vit Number:</b> <%= @customer.vit_number%></p>
      <p><b>ABN number:</b> <%= @customer.abn_number%></p>
      <p><b>Phone Number:</b> <%= @customer.phone_number%></p>
      <p><b>Contact Title:</b> <%= @customer.contact_title%></p>
      <p><b>Department:</b> <%= @customer.department%></p>
    </div>
    <% end %>
    <div class="col-md-6"><%= render 'partials/admin_actions', object: @user %></div>
</div>
