<script>
$(document).on('ready page:load', function() {
  /* Activating Best In Place */
  jQuery(".best_in_place").best_in_place();
});
</script>
<%= render partial: 'users/partials/admin_nav' %>
<h1> Subjects </h1>
<div class="container">
	<%= link_to 'New Subject', new_subject_path, class: "btn btn-primary" %>
	<table class = "table table-hover">
		<tr>
			<th class="col-md-4">Name</th>
			<th class="col-md-4">Note</th>
			<th class="col-md-2">Presenters</th>
			<th class="col-md-2"></th>
		</th>
<% @subject.each do |s| %>
	<tr>
		<td class="col-md-4">
			<%= best_in_place s, :name, :as => :input %>
		</td>
		<td class="col-md-4">
			<%= best_in_place s, :note, :as => :input %>
		</td>
		<th class="col-md-2"><%= s.presenters.count %></th>
		<td class="col-md-2" >
			<%= link_to 'Delete', subject_path(s),
			method: :delete, data:{confirm: 'Are you sure?'}, :class=>"btn btn-danger" %>
		</td>
	</tr>
<% end %>

</div>