<h1> Subjects </h1>
<div class="container">
	<%= link_to 'New Subject', new_subject_path %>
	<table class = "table-striped table-hover">
		<tr>
			<th class="col-md-6">Name</th>
			<th class="col-md-6">Category</th>
			<th class="col-md-6"></th>
		</th>
<% @subject.each do |s| %>
	<tr>
		<td class="col-md-6"><%= s.name %> </td>
		<td class="col-md-6"><%= s.category %> </td>
		<td class="col-md-6">
			<%= link_to 'Edit', edit_subject_path(s) %>
			<%= link_to 'Delete', subject_path(s),
			method: :delete, data:{confirm: 'Are you sure?'} %>
		</td>
	</tr>
<% end %>

</div>