<h1>New Subject</h1>
<%= form_for @subject do |f| %>

<p>
	<%= f.label :name %> </br>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :note %> </br>
	<%= f.text_field :note %>
</p>
<p>
	<%=f.submit %>
</p>
<% end %>