<%= render partial: "users/partials/admin_nav" %>
<h1>New Subject</h1>
<%= form_for @subject do |f| %>
	<div class = "form-group">
			<%= f.label :name %> </br>
			<%= f.text_field :name, class: "form-control" %>
	</div>
	<div class = "form-group">
			<%= f.label :note %> </br>
			<%= f.text_field :note, class: "form-control" %>
	</div>
	<div class = "form-group">		
			<%=f.submit "Create Subject",class: "btn btn-default" %>
	</div>
<% end %>