<% if current_user.admin? %>
  <li role="presentation" >
    <%= link_to "Dashboard", admin_path %>
  </li>
  <li role="presentation" >
    <%= link_to "Suspended Users", admin_suspended_users_path %>
  </li>
  <li role="presentation" >
    <%= link_to "Presenters", admin_presenters_path %>
  </li>
  <li role="presentation">
    <%= link_to "Bookings", bookings_path %>
  </li>
  <li role="presentation" >
    <%= link_to "Schools", admin_customers_path %>
  </li>
  <li role="presentation">
  	<%= link_to "Subjects", subjects_path %>
  </li>
  <li role="presentation">
    <%= link_to "Content Management", page_contents_path %>
  </li>
<% end %>

