<%= form_for(@presenter_profile, url: presenter_profile_path) do |f| %>
  <div class="form-group">
    <%= f.label :bio_edit, "Bio" %>
    <%= f.text_area :bio_edit %>
  </div>
  <div class="form-group">
    <%= f.label :picture_edit, "Profile Picture" %>
    <%= f.text_field :picture_edit %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-default"  %>
  </div>
<% end %>