<%= form_for(@presenter_profile, url: presenter_profile_path, :html => {:multipart => true}) do |f| %>
  
  <% if @presenter_profile.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        This form has <%= pluralize(@presenter_profile.errors.count, "error") %>.
      </div>
      <ul>
      <% @presenter_profile.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Save Draft", name: 'save',  class: "btn btn-default" %>
    <%= f.submit "Submit", name: 'submit',  id: 'submitBtn', class: "btn btn-default"  %>
    
    <!-- what to include in profile -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">What to include?</button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div>
            <% if current_user %>
              <% if current_user.admin? %>
                <p><%= link_to "Update Content", edit_page_content_path(@help), class: "btn btn-info" %></p>
              <% end %>
            <% end %>
            <%= @help.content.html_safe %>  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :picture_edit, "Profile Picture" %><br/><small>Leave blank to keep current image </small>
    <%= f.file_field :picture_edit, class: "form-control", accept: "image/jpeg, image/png" %>
    <%= f.hidden_field :retained_picture_edit %>
    <p><small>Note: Pictures must be jpeg or png </small></p>
  </div>  
  
  <div class="form-group">
    <%= tinymce %>
    <%= f.label :bio_edit, "Bio" %>
    <%= f.text_area :bio_edit, class: "tinymce", rows: 20 %>
  </div>   
  <div class="actions">
    <%= f.submit "Save Draft", name: 'save', class: "btn btn-default" %>
    <%= f.submit "Submit", name: 'submit', id: 'submitBtn2', class: "btn btn-default"  %>
  </div> 
<% end %>

<script type="text/javascript">
  $('#presenter_profile_picture_edit').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 10) {
      alert('Maximum file size is 10MB. Please choose a smaller file.');
    }
  });
</script>

 <%= tinymce_assets %> 