<h1> Pending Profile Changes </h1>
<h3>There are <%= @profile_count %> pending profile changes.</h3>

<% if @draft_profiles.present? %>
  <h3>Drafts</h3>
  <table class = "table table-bordered">
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <% @draft_profiles.each do |profile| %>
      <% presenter = Presenter.find(profile.presenter_id) %>
      <tr> 
        <td> <%= "#{presenter.first_name} #{presenter.last_name}" %></td>
        <td> <%= edit_presenter_profile_link(presenter, "btn btn-info") %> </td>
      </tr>  
    <% end %>
  </table>
<% end %>

<% if @unapproved_profiles.present? %>
  <h3>Awaiting approval</h3>
  <table class = "table table-bordered">
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
    <% @unapproved_profiles.each do |profile| %>
      <% presenter = Presenter.find(profile.presenter_id) %>
      <tr> 
        <td> <%= "#{presenter.first_name} #{presenter.last_name}" %></td>
        <td> <%= link_to "View", presenter_profile_path(presenter), class: "btn btn-info" %> </td>
      </tr>  
    <% end %>
  </table>
<% end %>