<div>
	<%= render "presenters/info", object: @presenter %>
</div>

<div>
	<% if @presenter.presenter_profile.present? %>
	  <%= #@presenter.presenter_profile.picture 
	  image_tag('http://lorempixel.com/300/400/business/', alt: 'picture') %>
	  <p>Bio: <%= @presenter.presenter_profile.bio %></p>
    <%= render 'presenter_profiles/pending_profile_changes' %>

    <%= render 'presenter_profiles/availabilities' %>
  <% else %>
	  <p> <%= fullname(@presenter) %> has not filled out profile. </p>
  <% end %>

	<%= render 'partials/admin_actions', object: @user %>
</div>