<div>
  <% unless current_user.nil? %>
    <%= render "presenters/info", object: @presenter %>
  <% end %>
</div>

<div class="col-md-12">
	<% if !@profile.nil? && !@profile.bio.nil? %>
	  <h2>Bio</h2>
    <div class = "panel panel-default">
      <div class = "panel-body" id="profile_bio">
        <%= sanitize @profile.bio %>
      </div>
    </div>
    <h3>Subjects</h3>
    <ul>
    	<% @presenter.subjects.each do |s| %>
    		<li><%= s.name %></li>
    	<% end%>
    </ul>
  <% else %>
	  <p> <%= @presenter.first_name %> has not filled out their bio. </p>
  <% end %>
  <% unless current_user.nil? %>
    <%= render 'presenter_profiles/pending_profile_changes' unless @profile.nil? %>
  	<%= render 'partials/admin_actions', object: @user %>
    <%= render 'presenter_profiles/availabilities' %>
  <% end %>

<!-- Fix vulnerablility -->  
  <% unless current_user.nil? %>
    <% if current_user.customer? && params[:booking_id].present? %>
      <%= render 'partials/customer_actions' %>
      <%= render 'enquiries/partials/form' %>
    <%  end %>
  <% end %>

</div>