<div>
  <%= render "presenters/info", object: @presenter %>
</div>

<div>
	<% if !@profile.nil? && !@profile.bio.nil? %>
	  <p>Bio: <%= @profile.bio %></p>
  <% else %>
	  <p> <%= fullname(@presenter) %> has not filled out bio. </p>
  <% end %>
  <%= render 'presenter_profiles/pending_profile_changes' unless @profile.nil? %>

	<%= render 'partials/admin_actions', object: @user %>
</div>