	<% if @presenter.present? %>

		<h3><%= @presenter.first_name%>'s Profile </h3>
    <p>Picture:<%= image_tag @presenter.profile_picture_path('100x100#'), class: "img-responsive" %></p>
	  <p>First Name: <%= @presenter.first_name %></p>

	  <% #hide personal information from everyone but admin and owner of profile 
		if current_user.user_type == "admin" || current_user == User.find(@presenter.user_id) %>
	  <p>Last Name: <%= @presenter.last_name %></p>
	  <p>Vit Number: <%= @presenter.vit_number%></p>
	  <p>ABN number: <%= @presenter.abn_number%></p>
	  <p>Phone Number: <%= @presenter.phone_number%></p>
	  <p>Vit Number: <%= @presenter.vit_number%></p>
		<% end %>
  <% end %>
  