	<% if @presenter.present? %>

		<h3><%= @presenter.get_private_full_name(current_user) %>'s Profile </h3>
    <p><%= image_tag @presenter.profile_picture_path('225x225#'), class: "img-responsive img-circle" %></p>
	  <p>Name: <%= @presenter.get_private_full_name(current_user) %></p>

	  <% #hide personal information from everyone but admin and owner of profile 
	  unless current_user.nil?
			if current_user.admin? || current_user == @presenter.user %>
			  <p>Vit Number: <%= @presenter.vit_number%></p>
			  <p>ABN number: <%= @presenter.abn_number%></p>
			  <p>Phone Number: <%= @presenter.phone_number%></p>
			  <p>Vit Number: <%= @presenter.vit_number%></p>
	  	<% end %>
		<% end %>
  <% end %>
  