<div class = "container">
<%= form_tag presenter_edit_subjects_path do %>
  <div class="form-group">
  <label for="subject_search">Add subject</label>
  <%= text_field_tag :name, nil, class: "form-control", :id=>"subject_search" %>
<% end %>
  </div>
  
	<table class = "table table-hover">
	<% @presenter.subjects.each do |s| %>
		<tr>
			<td class = 'col-md-4'> <%= s.name %> </td>
			<td class = 'col-md-4'> <%= s.note %> </td>
			<td class = 'col-md-4'> 
				<%= link_to 'Remove', presenter_remove_subject_path(subject: s.id),
			method: :post, :class=>"btn btn-danger btn-xs" %> </td>
		</tr>
	<% end %>
	</table>
</div>