<% if current_user.presenter.presenter_profile.nil?%>
	<div class ="alert alert-info text-center">
		<h3> Create your profile </h3>
		<%= edit_presenter_profile_link(current_user.presenter, "btn btn-primary", "Create") %>
	</div>
<% elsif @presenter.rate.nil? %>
	<div class = "alert alert-info text-center">		
		<%= render 'presenters/partials/rate'%>
	</div>
<% end %>
<div class = "col-md-12">
	<h2>Welcome, <%= current_user.presenter.first_name %></h2>
</div>
<div class = "row">
		<div class = "col-md-12">
			<div class = "p-container">
				<h3> Upcoming bookings </h3>
				<%= render 'bookings/partials/bookings', collection: @upcoming %>
			</div>
		</div>
		<div class = "col-md-6">
			<div class = "p-container">
				<h3> Bids </h3>
				<%= render 'bookings/partials/bids', collection: @bids %>
			</div>
		</div>
		<div class = "col-md-6">
			<div class = "p-container">
				<h3> Open bookings </h3>
				<%= render 'bookings/partials/open_bookings', collection: @bookings %>
			</div>
		</div>
</div>
