<% if current_user.presenter? %>
  <li role="presentation" >
  	<%= link_to "View Profile", presenter_profile_path(current_user.presenter) %>
  </li>
  <li role="presentation" >
    <%= edit_presenter_profile_link(current_user.presenter) %>
  </li>
  <li role="presentation" >
    <%= link_to "Subjects", presenter_edit_subjects_path(current_user.presenter) %>
  </li>
  <li role="presentation" >
    <%= link_to "Availabilities", presenter_availabilities_path(current_user.presenter) %>
  </li>
  <li role="presentation" >
    <%= link_to "Presenter Edit Details", presenter_edit_details_path(current_user.presenter) %>
  </li>
  <li role="presentation" class="<%= new_booking_active?%>">
    <%= link_to "Change Email/Password", user_edit_login_details_path(current_user.id) %>
  </li>
</ul>
<% end %>
