<% if current_user.presenter? %>
  <li role="presentation" >
  	<%= link_to "View Profile", presenter_profile_path(current_user.presenter) %>
  </li>
  <li role="presentation" >
    <%= edit_presenter_profile_link(current_user.presenter) %>
  </li>
  <li role="presentation" >
    <%= link_to "Subjects", presenter_edit_subjects_path(current_user.presenter) %>
  </li>
  <li role="presentation" >
    <%= link_to "Availabilities", presenter_availabilities_path(current_user.presenter) %>
  </li>
  <li role="presentation" class="<%= edit_profile_active?%>">
    <%= link_to "Presenter Edit Details", controller: "presenters", id: @presenter, action: "edit_details" %>
  </li>
</ul>
<% end %>
