<h1>Edit Page Content</h1>
<%= form_for @page_contents do |f| %>

  <div class='actions'>
    <%= link_to "Cancel", :back, class: "btn btn-default" %>
    <%= f.submit "Submit", class:"btn btn-default" %>
  </div>

  <div class='form-group content-editor'>
    <%= tinymce :cms_editor %>
    <%= f.text_area :content, class: "tinymce", height: 800 %>
  </div>

<% end %>

<%= tinymce_assets %> 