<div class="col-md-4">
	<div class="list-group enquiry-users">
	<% if @users.present? %>
	<% @users.each do |user| %>
		<%= link_to name_or_school(user), enquiries_path(id: user), class: "list-group-item", id: user.id %>
	<% end %>
	</div>
	<% end %>
</div>
<div class="col-md-8">
	<% if @conversation.present? %>
	<% @conversation.each_with_index do |enquiry, index| %>
		<div class="list-group">
	    <%= link_to enquiry_path(enquiry), class: "list-group-item #{current_enquiry(index)}" do %>
	      <h4 class="list-group-item-heading"><%= from(enquiry) %></h4>
		    <p class="list-group-item-text"> Rate: <%= number_to_currency(enquiry.rate) %> </p>
		    <p class="list-group-item-text"> Date: <%= enquiry.date.strftime("%d/%m/%Y") %></p>
		    <p class="list-group-item-text"> Time: <%= enquiry.time.strftime("%H:%M %p") %></p>
	    <% end %>
	  </div>
  <% end %>
  <% end %>
</div>