<div class="panel panel-primary">
  <div class="panel-heading">
    <%= from(@enquiry) %>
  </div>
  <div class="panel-body">
    <p> Rate: <%= number_to_currency(@enquiry.rate) %> </p>
    <p> Date: <%= @enquiry.date.strftime("%d/%m/%Y") %></p>
    <p> Time: <%= @enquiry.time.strftime("%H:%M %p") %></p>
  </div>
  <div class="panel-footer">
    <%= render 'enquiries/partials/actions' %>
  </div>
</div>