<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <div class="logo"><%= image_tag "pmc-icon.png" %></div>
        <div class="text">Personal<br>Masterclass</div>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <%= render 'users/partials/admin_nav'%>
        <%= render "presenters/partials/presenter_nav"%>
        <li>
          <div class="dropdown">
              <span class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><%= fa_icon "bell-o" %><span class="badge"><%= current_user.display_notifications.count %></span></span>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <% current_user.display_notifications.each do |notification| %>
              <li><%= link_to notification.message, notif_read_path(id: notification) %></li>
              <% end %>
              <li role="separator" class="divider"></li>
              <li><a href="#"><%= link_to "View All", notifications_path %></a></li>
            </ul>
          </div>
        </li>
        <%= render 'customers/partials/customer_nav' %>
        <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'School Registration', registration_customers_path %></li>
        <li><%= link_to 'Become a Presenter', registration_presenters_path %></li>
        <li><%= link_to 'Log In', new_user_session_path %></li>
      <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
