<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Personal Masterclass</title>
    <% if !Rails.env.production? %><meta name="robots" content="noindex,nofollow"><% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="<%= image_path('pmc-icon.png') %>">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body data-no-turbolink="true">
    <%= render partial: 'layouts/nav' %>
    <div class="main">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <% if params[:controller] == 'home' && params[:action] == 'index' %><%= yield %>
      <% else %>
      <div class = "container main">
        <%= yield %>
      </div>
      <% end %>
    </div>
    <footer>
      <div class="footer-content">
        <div class="container">
          <section>
            <h3>Section Heading</h3>
            <ul>
              <li>ITEM 1</li>
              <li>ITEM 2</li>
              <li>ITEM 3</li>
            </ul>
          </section>
          <section>
            <h3>Section Heading</h3>
            <ul>
              <li>ITEM 1</li>
              <li>ITEM 2</li>
              <li>ITEM 3</li>
            </ul>
          </section>
          <section>
            <h3>Section Heading</h3>
            <ul>
              <li>ITEM 1</li>
              <li>ITEM 2</li>
              <li>ITEM 3</li>
            </ul>
          </section>
        </div>
      </div>
      <div class="afterfooter">
        <div class="container">
          <div class="left">&copy; Personal Masterclass <%= Date.today.year %></div>
          <div class="right">
            <div class="social-icons">
              <div class="icon facebook"></div>
              <div class="icon twitter"></div>
              <div class="icon linkedin"></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <%= mail_to "rosemary@personalmasterclass.com", subject: "Personal Masterclass Support Request", class: "support-tab" do %>
      <span>SUPPORT</span>
    <% end %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
