<!DOCTYPE html>
<html>
  <head>
    <title>Personal Masterclass</title>
    <% if !Rails.env.production? %><meta name="robots" content="noindex,nofollow"><% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/nav' %>
    <div class="main">
      <div class="container">
        <% if current_user.present? %>
          <% if current_user.user_type == "presenter" %>
            <%= render "presenters/partials/presenter_nav"%>
          <% elsif current_user.user_type == "customer" %>
            <%= render "customers/partials/customer_nav" %>
          <% else %>
            <%= render "users/partials/admin_nav" %>
          <% end %>
        <% end %>

        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <%= yield %>

        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
    <footer>
      <div class="footer-content">
        <div class="container">
          <section>
            <h3>Section Heading</h3>
            <ul>
              <li>ITEM 1</li>
              <li>ITEM 2</li>
              <li>ITEM 3</li>
            </ul>
          </section>
          <section>
            <h3>Section Heading</h3>
            <ul>
              <li>ITEM 1</li>
              <li>ITEM 2</li>
              <li>ITEM 3</li>
            </ul>
          </section>
          <section>
            <h3>Section Heading</h3>
            <ul>
              <li>ITEM 1</li>
              <li>ITEM 2</li>
              <li>ITEM 3</li>
            </ul>
          </section>
        </div>
      </div>
      <div class="afterfooter">
        <div class="container">
          <div class="left">&copy; Personal Masterclass 2016</div>
          <div class="right">
            <div class="social-icons">
              <div class="icon facebook"></div>
              <div class="icon twitter"></div>
              <div class="icon linkedin"></div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
